<header>
  <div
    style="
      background-color: purple;
      display: flex;
      justify-content: space-around;
      color: white;
    "
  >
    <button class="menu" (click)="goHome()">Home</button>
    <button class="menu" (click)="goBoard()">Board</button>
    <button class="menu" (click)="goMyPage()">MyPage</button>
  </div>
</header>
<div class="page" [style.visibility]="isHome ? 'visible' : 'hidden'">
  <page_main></page_main>
</div>
<div class="page" [style.visibility]="isBoard ? 'visible' : 'hidden'">
  <page_board></page_board>
</div>
<div class="page" [style.visibility]="isMyPage ? 'visible' : 'hidden'">
  <page_my></page_my>
</div>
